[workspace]
name = "scikit-learn"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["osx-arm64"]
preview = ["pixi-build"]

[package]
name = { workspace = true }
authors = ["scikit-learn developers <scikit-learn@python.org>"]
description = "A set of python modules for machine learning and data mining"
version = "1.8.0.dev0"

[package.build]
source.path = "scikit-learn"

[package.build.config]
compilers = ["c", "cxx"]

[package.build.backend]
name = "pixi-build-python"
version = "*"
channels = [
  "https://prefix.dev/pixi-build-backends",
  "https://prefix.dev/conda-forge",
]

[package.build-dependencies]
llvm-openmp = "*"

[package.host-dependencies]
uv = "*"
python = "*"
meson-python = "*"
cython = ">=3.0.10"
numpy = ">=1.19.5,<3"
scipy = ">=1.8.0,<2"
joblib = ">=1.2.0,<2"
threadpoolctl = ">=3.1.0,<4"

[package.run-dependencies]
python = "*"
numpy = ">=1.19.5,<3"
scipy = ">=1.6.0,<2"
joblib = ">=1.2.0,<2"
threadpoolctl = ">=3.1.0,<4"


[feature.source.dependencies]
ninja = "*"
scikit-learn = { path = "." }

[feature.dev.dependencies]
ipykernel = "*"
ipython = "*"
jupyterlab = "*"
spin = "*"
towncrier = "*"
array-api-compat = "*"
array-api-strict = "*"
conda-lock = "==2.5.6"

[feature.docs.dependencies]
sphinx = ">=7.3.7"
sphinx-copybutton = ">=0.5.2"
sphinx-gallery = ">=0.17.1"
sphinx-prompt = ">=1.4.0"
sphinxext-opengraph = ">=0.9.1"
sphinx-design = ">=0.6.0"
pydata-sphinx-theme = ">=0.15.3"
sphinx-remove-toctrees = ">=1.0.0.post1"
numpydoc = ">=1.2.0"
matplotlib = ">=3.3.4"
scikit-image = ">=0.17.2"
pandas = ">=1.1.5"
seaborn = ">=0.9.0"
plotly = ">=5.14.0"
memory_profiler = ">=0.57.0"
Pillow = ">=7.1.2"

[feature.docs.pypi-dependencies]
sphinxcontrib-sass = ">=0.3.4"

[feature.docs.tasks]
docs = { cmd = "spin docs", cwd = "scikit-learn" }

[feature.lint.dependencies]
pre-commit = "*"

[feature.lint.tasks]
lint = { cmd = "pre-commit install && pre-commit run -v --all-files --show-diff-on-failure" }

[feature.tests.dependencies]
pytest = ">=7.1.2"
pytest-cov = ">=2.9.0"
pytest-xdist = ">=2.5.1"
matplotlib = ">=3.3.4"
scikit-image = ">=0.17.2"
pandas = ">=1.1.5"
pyamg = ">=4.0.0"
polars = ">=0.20.30"
pyarrow = ">=12.0.0"
numpydoc = ">=1.2.0"
pooch = ">=1.6.0"

[feature.tests.tasks]
tests = { cmd = "spin test", cwd = "scikit-learn" }


[environments]
dev = { features = ["source", "dev", "lint", "docs", "tests"], no-default-feature = true }
